<link href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css" rel="stylesheet" media="screen">
<div class="container">
  <% p current_user %>

  <% if @user_results.count > 0 %>
  <div class="row">
    <div class="col-sm-12"><h1 class="tag-name">Users</h1></div>
  </div>
  <ul class="search-list">
  <% @user_results.each do |result_array| %>
    <% result_array.each do |result| %>
      <li class="search-result">
        <div class="card">
          <% if result.image_url %>
          <%= link_to image_tag(result.image_url, class:"card-img-top"), user_path(result.id) %>
          <% end %>
          <div class="card-block">
            <h4 class="card-title"><%="#{result.first_name} #{result.last_name}"%></h4>
            <% if current_user && !friend?(result) %>
            <%= form_for :friendship, url:user_friendships_path(result) do |f| %>
              <a href="#" class="btn btn-primary enemy" onclick='this.parentNode.submit(); return false;'><i class="fa fa-plus" aria-hidden="true"></i> Add Friend</a>
            <% end %>
            <% elsif current_user && friend?(result) %>
            <a href="#" class="btn btn-primary friend"><i class="fa fa-check" aria-hidden="true"></i> Friends</a>
            <% else %>
            <a></a>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  <% end %>
  </ul>
  <% end %>

  <% if @game_results.count > 0 %>
  <div class="row">
    <div class="col-sm-12"><h1 class="tag-name">Games</h1></div>
  </div>
  <ul class="search-list">
  <% @game_results.each do |result_array| %>
    <% result_array.each do |result| %>
      <li class="search-result">
        <!-- <%= link_to result.name, game_path(result.id) %> -->
        <%= link_to image_tag(result.thumbnail_url), game_path(result.id) %>
      </li>
    <% end %>
  <% end %>
  </ul>
  <% end %>
</div>
