<%# <%= render partial: "header", layout: "" %>
<h1><%= @game.name %></h1>
<div>Published in <%= @game.publish_year %> </div>
<div><%= @tag.name %></div>
<img src="<%= @game.thumbnail_url %>">
<div>Number of players: <%= @game.min_players %> – <%= @game.max_players %></div>
<div>Upvoted <%= @game.vote %> times</div>
<p> <%= @game.description %> </p>

<%= form_tag(game_path(@game), method: :put) do %>
  <%= hidden_field_tag('type', 'up') %>
  <div><%= submit_tag '+1' %></div>
<% end %>
<%= form_tag(game_path(@game), method: :put) do %>
  <%= hidden_field_tag('type', 'down') %>
  <div><%= submit_tag '-1' %></div>
<% end %>

<%= form_tag(user_favorites_path(@game), method: :post) do %>
  <div><%= submit_tag 'Add to Favorites' %></div>
<% end %>

<%= link_to 'Comment', new_game_comment_path(@game) %>

<ul>
<% @comments.each do |comment| %>
  <li><%= comment.body %></li>
<% end %>
</ul>